<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>
            <a class="nav-link" href="{% url 'create' %}">Create</a>
        </h2>
        <h2> 
            <a class="nav-link" href="{% url 'read' %}">Read</a>
        </h2>
        <h2>
            <a class="nav-link" href="{% url 'update' %}">Update</a>
        </h2>
        <h2>
            <a class="nav-link" href="{% url 'delete' %}">Delete</a>
        </h2>
    </nav>
</body>
</html>